sudo: required

services:
  - docker

language: minimal

script:
  - docker build --build-arg "TRAVIS_VERSION=${TRAVIS_TAG}" -t "heapy/travis-cli-docker:${TRAVIS_TAG}" -t "heapy/travis-cli-docker:latest" ./

deploy:
  provider: script
  script: bash deploy.sh
  on:
    tags: true
